<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shared Space</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Shared Space</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" href="#/files">Files</a>
            </li>
        </ul>
    </div>
</nav>
<div class="bg-light">
    <div class="container">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-cloud" width="30" height="30"
             viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round"
             stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z"/>
            <path d="M7 18a4.6 4.4 0 0 1 0 -9h0a5 4.5 0 0 1 11 2h1a3.5 3.5 0 0 1 0 7h-12"/>
        </svg>
        {{#if device_statuses }}
            {{#each device_statuses}}
                {{#if (eq this.state "NotConnected") }}
                    <span title="Not Connected" class="badge badge-pill badge-dark">

                        {{this.device.name}}
                    </span>
                {{/if}}

                {{#if (eq this.state "Connected") }}
                    <span title="Connected" class="badge badge-pill badge-success">
                        {{this.device.name}}
                    </span>
                {{/if}}

                {{#if (eq this.state "Connecting") }}
                    <span title="Connected" class="badge badge-pill badge-warning">
                        {{this.device.name}}
                    </span>
                {{/if}}
            {{/each}}
        {{/if}}

    </div>
</div>
<div class="container mt-4">
    {{> page_content}}
</div>
</body>
</html>